<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="R1" value="45"/>
    <add key="G1" value ="45"/>
    <add key="B1" value="45"/>

    <add key="R2" value="0"/>
    <add key="G2" value ="0"/>
    <add key="B2" value="0"/>



  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>