<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />  
    </startup>
  <appSettings>
    <add key="Width" value="650"/>
    <add key="Height" value ="400"/>
    <add key ="Лисиця" value="Хижак, Ссавець сімейства псових"/>
    <add key ="X1" value="10"/>
    <add key ="Y1" value="10"/>
    <add key ="L1" value ="6"/>
    <add key ="O1" value ="H"/>

    <add key ="Літак" value="Машина яка використовується для повітряного перевезення"/>
    <add key ="X2" value="10"/>
    <add key ="Y2" value="10"/>
    <add key ="L2" value ="5"/>
    <add key ="O2" value ="V"/>

    <add key ="Сік" value="Напій з фруктів"/>
    <add key ="X3" value="70"/>
    <add key ="Y3" value="10"/>
    <add key ="L3" value ="3"/>
    <add key ="O3" value ="V"/>

</appSettings>
</configuration>